
/*-------------------------------RESET---------------------------------------------------*/

* {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}
input {
	cursor: pointer;
	outline: none;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}

/*-------------------------------BUTTONS---------------------------------------------------*/

.butt input {
	border-radius: 5px;
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 900;
}
/*--------------------------------HEADER--------------------------------------------------*/

header {
	background: #1de9b6;
	background-image: url("img/BG (1).png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	color: #fff;
	display: flex; 
	justify-content: center;
}
.wrapper {
	width: 90%;
	display: grid;
	grid-template-rows: auto 1fr;
}
nav {
	padding-top: 50px;
	padding-bottom: 20px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end; 
}
.logo {
	display: flex;
}
.logo_text {
	text-transform: uppercase;
	font-size: 15px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400; 
	line-height: 15px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	margin-left: 10px;
	color: #fff;
}

.menu li, a {
	margin-left: 10px;
	margin-right: 10px;
	float: left;
	color: #fff;
}
.menu a:hover {
	font-weight: 600;
}
#header_menu a:hover{
	color:  rgba(6, 30, 55, 0.9);
}
.icon {
	display: none;
}
.sign input {
	width: 80px;
	height: 25px;
	font-weight: 400;
	color: #fff;
	font-size: 15px;
	border: 1px solid #fff;
	border-radius: 2px;
	background-image: none; 
    background: transparent;
}
.sign input:hover {
	background-color: rgba(255, 255, 255, 0.6);
	color:  rgba(6, 30, 55, 1);
	font-weight: 600;
}

.wrapper1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.about {
	display: flex; 
	flex-direction: column;
	width: calc(100% - 560px - 15vw);
	margin-right: 15vw;
}
.about h1 {
	text-transform: uppercase;
	font-size: 55px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	line-height: 65px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	margin-top: 0; 
}
.about p {
	font-size: 18px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 35px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	margin-top: -20px; 
	margin-bottom: 2vw;
}
.buttons {
	display: flex;
	justify-content: flex-start;
}
.button_buy input {
	background-color:  #061e37;
	width: 150px;
	height: 55px;
	color: #fff;
	border: 1px solid #061e37;
}
.button_buy input:hover {
	background-color: rgba(6, 30, 55, 0.6);
}
.button_try input {
	background-color:  #ffffff;
	width: 160px;
	height: 55px;
	margin-left: 30px;
	color: #061e37;
	border: 1px solid #fff
}
.button_try input:hover {
	background-color: rgba(255, 255, 255, 0.6);
}

/*---------------------------------------VIDEO---------------------------------------------*/

 .video_wrapper {
	width: 560px;
	height: 315px;
	-webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%); /*ios 7 border-radius-bug */
	-webkit-transform: rotate(0.000001deg); /*mac os 10.6 safari 5 border-radius-bug */
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px;
	border-radius: 5px; 
	overflow: hidden; 
	border: 1px solid #061e37;*/
	position: relative;
}
.video_wrapper video {
	display: none;
}
.video_overlay {
	width: 100%;
	height: 100%;
	background: url("img/Rounded Rectangle 2 copy.png") no-repeat;
    -moz-background-size: 100% 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100% 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100% 100%; /* Opera 9.6+ */
    background-size: 100% 100%; /* Современные браузеры */
	justify-content: center;
	align-items: center; 
	display: flex;
}
.layout {
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: 0.9;
/*	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15); */
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px;
	border-radius: 5px; 
	position: absolute;
	z-index: 0;
}
.watch {
	position: absolute;
	z-index: 1;
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center; 
}
.watch input {
	background-color:  #061e37;
	width: 60px;
	height: 60px;
	color: #fff;
	border: 1px solid #061e37;
	font-family: FontAwesome;
	margin-bottom: 22px;
}
.watch input:hover {
	background-color: rgba(6, 30, 55, 0.6);
}
.video_overlay p {
	text-transform: uppercase;
	color: #061e37;
	font-size: 12px;
	font-weight: 700;
}
/*--------------------------------EASY AND USEFUL ---------------------------------------------*/

.p1 {
	color:  rgba(6, 30, 55, 0.9);
	font-size: 45px;/* Приближение из-за подстановки шрифтов */
	font-weight: 600; 
	text-align: center;
	margin-top: 100px;
}
.p2 {
	color:  #b0bec5;
	font-size: 25px;/* Приближение из-за подстановки шрифтов */
	font-weight: 600;
	text-align: center;
	margin-top: 6px;
}
.p3 {
	color:  #b0bec5;
	font-size: 15px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 25px;/* Приближение из-за подстановки шрифтов */
	text-align: center;
	width: 600px;
	margin: 20px auto;
}

.title {
	width: 90%;
	margin: 90px auto;
	display: grid;
	grid-template-areas: 
		"left center right"
		"button button button";
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 12vw;
	grid-row-gap: 78px;
	text-align: center;
}
.title_item {
	align-self: baseline;
}
.title_title {
	color:  rgba(6, 30, 55, 0.9);
	font-size: 20px;/* Приближение из-за подстановки шрифтов */
	font-weight: 600;
	line-height: 25px;/* Приближение из-за подстановки шрифтов */
	text-align: center;
	margin-top: 20px;
}
.title_text {
	color:  #78909c;
	font-size: 15px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 20px;/* Приближение из-за подстановки шрифтов */
	text-align: center;
	margin-top: 40px;
}
#left {
	grid-area: left;
}
#center {
	grid-area: center;
}
#right {
	grid-area: right;
}
.button_start {
	grid-area: button;
}
.button_start input {
	background-color:  #1de9b6;
	width: 150px;
	height: 55px;
	color: #fff;
	border: 1px solid #1de9b6;
	text-align: center;
}
.button_start input:hover {
	background-color: rgba(29, 233, 182, 0.6);
}

/* ----------------------------------COUNTS-------------------------------------------------------  */

.counts {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	height: 150px;
	color: #fff;
	font-size: 20px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	line-height: 25px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
}
#business {
	background-color:  #80d8ff;
}
#downloads {
	background-color:  #82b1ff;
}
#installs {
	background-color:  #b388ff;
}
#users {
	background-color:  #ea80fc;
}
.counts div {
	text-align: center;
	position: relative;
}
 .inner_counts {
	display: inline-block;
	position: absolute;
	top: 33%;
}

/*-----------------------------------SERVICES-----------------------------------------------------*/

.services {
	display: flex;
	justify-content: center;
	
}
.serv_wrapper {
	width: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 100px;
}
.serv_title {
	width: 600px;
}
#serv_p3 {
	margin-top: 30px;
	margin-bottom: 28px;
}
.box {
	width: 100%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.13);
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px;
	border-radius: 5px; 
	margin-top: 20px;
}
.serv_outer {
	display:flex;
	justify-content: space-between;
	margin-left: 20px;
	align-items: center;
}
.serv_elem {
	display: flex;
	margin-left: 5px;
}
.serv_elem p {
	margin-left: 24px;
	/* Style for "Statistics" */
	color: #061e37;
	font-family: Raleway;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
}
.drop_down {
	cursor: pointer;
	width: 61px;
	height: 50px;
	text-align: center;
}
.drop_down img {
	margin-top: 22px;
}
.serv_inner {
	margin: 0 25px 25px 25px;
	display: none;
}
.serv_img {
	display: inline-block;
}
.serv_inner p {
	color: #061e37;
	font-family: Raleway;
	font-size: 15px;
	font-weight: 400;
	line-height: 25px;
	/* Text style for "Lorem ipsu" */
	letter-spacing: 0.45px;
	text-align: justify;
	margin-left: 25px;
	margin-right: 8px;
}
.panel-active + .serv_inner {
	display: flex;
}
.panel-active .drop_down {
	transform: rotate(180deg);
}
/*----------------------------------FOOTER--------------------------------------------------------*/

footer {
	width: 100%;
	height: 230px;
	padding-top: 46px;
	background-color: #061e37;
	display: flex;
	justify-content: center;
}
.social {
	margin-top: 34px;
	display: flex;
	justify-content: space-between;
	opacity: 0.5;
	color: #ffffff;
}
.foot_about div {
	display: inline-block;
	vertical-align: middle;
}
.foot_about a {
	font-family: Raleway;
	font-size: 15px;
	font-weight: 400;
	line-height: 25px; 
}
.foot_about a:hover {
	font-weight: 700;
}
.dot {
	margin-top: -3px;
}
.foot_icons div {
	display: inline-block;
	opacity: 0.2;
	color: #ffffff;
	font-family: "Font Awesome";
	font-size: 20px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0.6px;
}
.foot_icons div:hover {
		opacity: 1;
}
/* ----------------------------------MEDIA-------------------------------------------------------  */

 @media screen and (max-width: 1600px){
.about {
	width: calc(100% - 560px - 5vw);
	margin-right: 5vw;
}
} 

@media screen and (max-width: 1010px){
	.topnav a{
		display: none;
	}
	.topnav a.icon{
		float: right;
		margin-top: -17px;
		display: block;
		color: #fff;
		font-size: 25px;
	}
	nav{
		width: 100%;
	}
	.topnav.responsive{
		position: relative;
		top: 50px;
		left: -200px;
	}
	header .topnav.responsive{
		height: 340px;
	}
	.topnav.responsive a.icon{
		position: absolute;
		top: -50px;
		right: -200px;
	}
	.topnav.responsive a{
		float: none;
		display: block;
		text-align: left;
	} 
}







/* @media screen and (min-width: 1300px){
.about {
	margin-right: 10%;
}
}
@media screen and (max-width: 1130px){
.about {
	margin-right: 50px;
}
.logo_img {
	margin-left: 30px;
}
.butt input {
	margin-right: 30px;
}
.video_wrapper {
	margin-right: 30px;
}
.about {
	margin-left: 30px;
}
}
@media screen and (max-width: 1010px){
.wrapper {
	flex-direction: column;
	align-items: center;
}
.about h1 {
	text-align: center;
}
.about p {
	text-align: center;
}
.buttons {
	justify-content: center;
}
.video_wrapper {
	margin-top: 50px;
}


@media screen and (max-width: 1010px){
	.topnav a{
		display: none;
	}
	.topnav a.icon{
		float: right;
		margin-top: -17px;
		display: block;
		color: #fff;
		font-size: 25px;
	}
	nav{
		width: 100%;
	}
	.topnav.responsive{
		position: relative;
		top: 50px;
		left: -200px;
	}
	header .topnav.responsive{
		height: 340px;
	}
	.topnav.responsive a.icon{
		position: absolute;
		top: -50px;
		right: -200px;
	}
	.topnav.responsive a{
		float: none;
		display: block;
		text-align: left;
	} */
