
/*-------------------------------RESET---------------------------------------------------*/

* {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}
input {
	cursor: pointer;
	outline: none;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
p {
	margin-block-start: 0;
	margin-block-end: 0;
}
/*-------------------------------BUTTONS---------------------------------------------------*/

.butt input {
	border-radius: 5px;
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 900;
}

/*--------------------------------HEADER--------------------------------------------------*/

header {
	background: #1de9b6;
	background-image: url("img/BG (1).png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
/*	min-height: 100vh; */
	min-height: calc(var(--vh, 1vh)*100);
	color: #fff;
	display: flex; 
	justify-content: center;
}
.wrapper {
	width: 80%;
	display: grid;
	grid-template-rows: auto 1fr;
}
nav {
	display: grid;
	grid-template-areas: "logo menu sign";
}
header .wrapper nav {
	padding: 50px 0 5vh 0;
}
.logo {
	grid-area: logo;
	display: flex;
	align-self: flex-end;
}
.icon {
	grid-area: icon;
	display: none;
}
.menu {
	grid-area: menu;
	display: flex;
	align-self: flex-end;
}
.sign {
	grid-area: sign;
	text-align: right;
	display: flex;
	align-self: flex-end;
	justify-content: flex-end;
} 

.logo_text {
	text-transform: uppercase;
	font-size: 15px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400; 
	line-height: 15px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	margin-left: 10px;
	color: #fff;
}
.menu ul li, a {
	margin: 0 10px;
	float: left; 
	color: #fff;
}
.menu ul li a:hover {
	font-weight: 600;
	color:  rgba(6, 30, 55, 0.9);
}

.sign input {
	width: 80px;
	height: 25px;
	font-weight: 400;
	color: #fff;
	font-size: 15px;
	border: 1px solid #fff;
	border-radius: 2px;
	background-image: none; 
    background: transparent;
}
.sign input:hover {
	background-color: rgba(255, 255, 255, 0.6);
	color:  rgba(6, 30, 55, 1);
	font-weight: 600;
}

.wrapper1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.about {
	display: flex; 
	flex-direction: column;
	width: calc(100% - 560px - 15vw);
	margin-right: 15vw; 
}
.about h1 {
	text-transform: uppercase;
	font-size: 55px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	line-height: 65px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	margin-top: 0; 
}
.p_header {
	font-size: 18px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 35px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	margin-top: -20px; 
	margin-bottom: 2vw;
}
.buttons {
	display: flex;
	justify-content: flex-start;
}
.button_buy input {
	background-color:  #061e37;
	width: 160px;
	height: 55px;
	color: #fff;
	border: 1px solid #061e37;
}
.button_buy input:hover {
	background-color: rgba(6, 30, 55, 0.6);
}
.button_try input {
	background-color:  #ffffff;
	width: 160px;
	height: 55px;
	margin-left: 30px;
	color: #061e37;
	border: 1px solid #fff
}
.button_try input:hover {
	background-color: rgba(255, 255, 255, 0.6);
}

/*---------------------------------------VIDEO---------------------------------------------*/

 .video_wrapper {
	width: 560px;
	height: 315px;
	-webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%); /*ios 7 border-radius-bug */
	-webkit-transform: rotate(0.000001deg); /*mac os 10.6 safari 5 border-radius-bug */
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px;
	border-radius: 5px; 
	overflow: hidden; 
	border: 1px solid #061e37;
	position: relative;
}
.video_wrapper video {
	display: none;
}
.video_overlay {
	width: 100%;
	height: 100%;
	background: url("img/Rounded Rectangle 2 copy.png") no-repeat;
    -moz-background-size: 100% 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100% 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100% 100%; /* Opera 9.6+ */
    background-size: 100% 100%; /* Современные браузеры */
	justify-content: center;
	align-items: center; 
	display: flex;
}
.layout {
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: 0.9;
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px;
	border-radius: 5px; 
	position: absolute;
	z-index: 0;
}
.watch {
	position: absolute;
	z-index: 1;
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center; 
}
.watch input {
	background-color:  #061e37;
	width: 60px;
	height: 60px;
	color: #fff;
	border: 1px solid #061e37;
	font-family: FontAwesome;
	margin-bottom: 22px;
}
.watch input:hover {
	background-color: rgba(6, 30, 55, 0.6);
}
.video_overlay p {
	text-transform: uppercase;
	color: #061e37;
	font-size: 12px;
	font-weight: 700;
}

/*--------------------------------EASY AND USEFUL ---------------------------------------------*/

.p1 {
	color:  rgba(6, 30, 55, 0.9);
	font-size: 45px;/* Приближение из-за подстановки шрифтов */
	font-weight: 600; 
	text-align: center;
	margin-top: 100px;
}
.p2 {
	color:  #b0bec5;
	font-size: 25px;/* Приближение из-за подстановки шрифтов */
	font-weight: 600;
	text-align: center;
	margin-top: 6px;
}
.p3 {
	color:  #b0bec5;
	font-size: 15px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 25px;/* Приближение из-за подстановки шрифтов */
	text-align: center;
	max-width: 555px;
	margin: 20px auto;
}
.title {
	width: 90%;
	margin: 90px auto;
	display: grid;
	grid-template-areas: 
		"left center right"
		"button button button";
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 12vw;
	grid-row-gap: 78px;
	text-align: center;
}
.title_item {
	align-self: baseline;
}
.title_title {
	color:  rgba(6, 30, 55, 0.9);
	font-size: 20px;/* Приближение из-за подстановки шрифтов */
	font-weight: 600;
	line-height: 25px;/* Приближение из-за подстановки шрифтов */
	text-align: center;
	margin-top: 20px;
}
.title_text {
	color:  #78909c;
	font-size: 15px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 20px;/* Приближение из-за подстановки шрифтов */
	text-align: center;
	margin-top: 40px;
}
#left {
	grid-area: left;
}
#center {
	grid-area: center;
}
#right {
	grid-area: right;
}
.button_start {
	grid-area: button;
}
.button_start input {
	background-color:  #1de9b6;
	width: 150px;
	height: 55px;
	color: #fff;
	border: 1px solid #1de9b6;
	text-align: center;
}
.button_start input:hover {
	background-color: rgba(29, 233, 182, 0.6);
}

/* ----------------------------------COUNTS-------------------------------------------------------  */

.counts {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	height: 150px;
	color: #fff;
	font-size: 20px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	line-height: 25px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
}
#business {
	background-color:  #80d8ff;
}
#downloads {
	background-color:  #82b1ff;
}
#installs {
	background-color:  #b388ff;
}
#users {
	background-color:  #ea80fc;
}
.counts div {
	text-align: center;
	position: relative;
}
 .inner_counts {
	display: inline-block;
	position: absolute;
	top: 33%;
}

/*-----------------------------------SERVICES-----------------------------------------------------*/

.services {
	display: flex;
	justify-content: center;
	
}
.serv_wrapper {
	width: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 100px;
}
#serv_p3 {
	margin-top: 30px;
	margin-bottom: 28px;
}
.box {
	width: 100%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.13);
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px;
	border-radius: 5px; 
	margin-top: 20px;
}
.serv_outer {
	display:flex;
	justify-content: space-between;
	margin-left: 20px;
	align-items: center;
}
.serv_elem {
	display: flex;
	margin-left: 5px;
}
.serv_elem p {
	margin-left: 24px;
	color: #061e37;
	font-family: Raleway;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
}
.drop_down {
	cursor: pointer;
	width: 61px;
	height: 50px;
	text-align: center;
}
.drop_down img {
	margin-top: 22px;
}
.serv_inner {
	margin: 0 25px;
	height: 0;
	overflow: hidden; 
	display: flex;
}
.serv_img {
	display: inline-block; 
}
.serv_inner p {
	color: #061e37;
	font-family: Raleway;
	font-size: 15px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0.45px;
	text-align: justify;
	margin-left: 25px;
	margin-right: 8px;
}
.panel-active + .serv_inner {
	margin: 0 25px 25px 25px;
	/*display: flex; */
	height: 100%;
}
.panel-active .drop_down {
	transform: rotate(180deg);
}

/*--------------------------------TESTIMONIALS----------------------------------------------------*/

.testimonials {
	background-image: url("img/BG(1).png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 564px;
	color: #fff;
	display: flex; 
	justify-content: center;
	align-items: center;
}
.about h2 {
	text-transform: uppercase;
	font-size: 45px;
	font-weight: 600;
	text-align: left;
	margin: 0 0 19px 0; 
}
.p_testimonials {
	font-size: 15px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 25px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	margin: 0 0 78px 0;
}
.testimonials_area {
	width: 760px;
	height: 564px;
	display: grid;
	grid-template-rows: 1fr 390px 1fr ; 
}
.chevrons_outer {
	display: grid;
	grid-template-columns: 110px 1fr ;
}
.testimonials_outer {
	overflow-y: hidden;
}
.testimonials_container {
	display: grid;
	grid-template-columns: 110px 1fr;
	grid-template-rows: 1fr 1fr ; 
	grid-row-gap: 70px;
	position: relative;
	-o-transition: all 0.5s ease-in-out;
 	-moz-transition: all 0.5s ease-in-out;
 	-webkit-transition: all 0.5s ease-in-out;
 	transition: all 0.5s ease-in-out;
}
.chevrons {
	display: flex;
	justify-content: center;
	font-size: 25px;
	line-height: 25px;
}
.chevrons1 {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	cursor: pointer;
	align-self: center;
}
.testimonials_box {
	width: calc(100% - 60px);
	height: 100px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	background-color: white;
	padding: 30px;
}
.test_img {
	align-self: center;
}
.test_img img {
	background: #fff;
	border-radius: 50%; 
}
.testimonials_name p {
	text-align: left;
	color: #061e37;
	font-size: 18px;
	font-weight: 700;
}
.testimonials_text {
	height: calc(100% - 25px); 
	margin-top: 10px;
	overflow-y: auto;
}
.testimonials_text p {
	text-align: left;
	color: #78909c;
	font-size: 15px;
	font-style: italic;
	line-height: 25px;
}

/*-----------------------------------TEAM---------------------------------------------------------*/

.team {
	width: 100%;
	background-color: #fff;
}
.team_wrapper {
	width: 645px;
	height: 100%;
	margin: 0 auto;
}
#team_p3 {
	margin-top: 30px;
	margin-bottom: 28px;
}
.avatars {
	margin: 0 auto;
	margin-top: 60px;
	width: 460px;
	display: grid;
	grid-template-columns: 100px 160px 100px;
	grid-column-gap: 50px;
	align-items: center;
}
.team_avatars {
	border-radius: 50%;
	display: none;
}
.team_avatars img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.team_left {
	width: 100px;
	height: 100px;
	opacity: 0.2;
	cursor: pointer;
	display: block;
	order: 1;
} 
.team_right {
	width: 100px;
	height: 100px;
	opacity: 0.2;
	cursor: pointer;
	display: block;
	order: 3;
} 
.team_center {
	width: 160px;
	height: 160px;
	opacity: 1;
	display: block;
	order: 2;
}
.team_name {
	text-align: center;
	margin-top: 60px;
	color: #061e37;
	font-family: Raleway;
	font-size: 18px;
	font-weight: 700;
	line-height: 25px;
	display: none;
}
.team_text {
	height: 100px;
	color: #90a4ae;
	display: none;
}
.team_social { 
	display: flex;
	justify-content: center;
	margin-bottom: 90px;
	font-family: "Font Awesome";
	font-size: 20px;
}
.team_social div a i {
	color: #90a4ae;
}
.team_show {
	display: block;
}

/*----------------------------------CONTACT-------------------------------------------------------*/

.contact {
	height: 660px;
	background-color: #fafafa;
}
.contact_wrapper {
	width: 600px;
	height: 100%;
	margin: 0 auto;
}
.contact_wrapper .p1 {
	color: #061e37;
	font-family: "Raleway - Semi Bold";
	font-weight: 400;
	margin: 0 auto;
	padding-top: 50px;
}
#contact_p3 {
	color: #061e37;
	font-size: 15px;
	font-weight: 400;
	line-height: 25px;
	margin-bottom: 50px;
}
.form_inputs{
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 40px;
	grid-row-gap: 20px;
}
.form_inputs input {
	width: 240px;
	height: 50px;
	background: #fff;
	outline: none;
	border-radius: 5px;
	border: 1px solid #061e37;
	padding: 0 20px;
	cursor: text;
}
.form_inputs input::placeholder {
	color: #061e37;
	font-family: Raleway;
	font-size: 14px;
	font-weight: 500;
	padding: 18px 0;
}
textarea {
	width: calc(100% - 36px);
	height: 150px;
	resize: none;
	background: #fff;
	outline: none;
	border-radius: 5px;
	border: 1px solid #061e37;
	margin: 20px 0 20px 0;
	padding: 18px;
}
textarea::placeholder {
	color: #061e37;
	font-family: Raleway;
	font-size: 14px;
	font-weight: 500;
	padding: 0 0 18px 0;
}
.send {
	display: flex;
	justify-content: space-between;
}
.check {
	align-self: center;
}
.check label {
	cursor: pointer;	
	color: #061e37;
	font-family: Raleway;
	font-size: 15px;
	font-weight: 500;
	text-indent: -15px;
	margin: 0;
	padding: 0;
}
.check label input {
	margin: 0 9px 0 0;
	padding: 0;
	width: 16px;
	height: 16px;
	vertical-align: bottom;
    position: relative; 
    top: -2px;
}
#button_send {
	width: 130px;
	height: 50px;
	display: inline-flex;
}

/*----------------------------------FOOTER--------------------------------------------------------*/

footer {
	width: 100%;
	height: 230px; 
	padding-top: 46px;
	background-color: #061e37;
	display: flex;
	justify-content: center;
}
#footer_menu {
	justify-self: flex-end; 
}
#footer_menu ul li a:hover {
	opacity: 0.5;
	color: #fff;
}
.social {
	margin-top: 34px;
	display: flex;
	justify-content: space-between;
	opacity: 0.5;
	color: #fff;
}
.foot_about div {
	display: inline-block;
	vertical-align: middle;
}
.foot_about a {
	font-family: Raleway;
	font-size: 15px;
	font-weight: 400;
	line-height: 25px; 
}
.foot_about a:hover {
	font-weight: 700;
}
.dot {
	margin-top: -3px;
}
.foot_icons div {
	display: inline-block;
	opacity: 0.2;
	color: #fff;
	font-family: "Font Awesome";
	font-size: 20px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0.6px;
}
.foot_icons div:hover {
		opacity: 1;
}
footer .wrapper nav {
	grid-template-areas: "logo menu";
}
footer .wrapper nav .menu ul li a {
	margin: 0 0 0 20px;
}
/* ----------------------------------MEDIA-------------------------------------------------------  */

 @media screen and (max-width: 1600px){
.about {
	width: calc(100% - 560px - 5vw);
	margin-right: 5vw;
}
}
 
 @media screen and (max-width: 1300px){
	.testimonials_area {
		width: 100%;
	}
 }
 
@media screen and (max-width: 1200px){
	nav{
		width: 100%;
	}

	.wrapper1 {
		flex-direction: column;
		justify-content: center;
	}
	.about {
		width: 100%;
		margin: 100px 0 0 0;
		align-items: center;
	}
	.about h1{
		text-align: center;
	}
	.about h2{
		text-align: center;
	}
	.p_header {
		text-align: center;
	}
	.video_wrapper {
		margin: 100px 0 100px 0;
	}
	.title {
	width: 80%;
	margin: 5vw auto 100px auto;
	grid-template-areas: 
		"left" 
		"center" 
		"right"
		"button";
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-column-gap: 0;
	grid-row-gap: 5vw;
	}
	.testimonials {
		height: 100%;
		padding: 0 0 40px 0;
	}
	.p_testimonials {
	text-align: center;
	margin: 0 0 5vw 0;
	}
	.chevrons_outer {
		grid-template-columns: 0 1fr ;
	}
}

@media screen and (max-width: 968px){
	nav {
		display: grid;
		grid-template-areas: 
						"logo icon"
						"menu menu";
		grid-template-columns: 180px 1fr;
		grid-template-rows: 1fr auto; 
		margin-bottom: 0;
	}
	.icon {
		display: flex;
		justify-content: flex-end;
	}	
	.icon a {
		margin: 0;
	}
	header .wrapper nav .menu {
		grid-area: menu;
		height: 100%;
		background: rgba(0, 0, 0, 0.15);
		height: 0;
		overflow-y: hidden;
	}
	.sign {
		display: none;
	}
	header .wrapper nav .menu ul {
		margin: 20px 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	header .wrapper nav .menu ul li {
		margin: 0;
		text-align: right;
	}
	header .wrapper nav .menu ul li a {
		margin: 20px 0 0 0;
	} 
	.serv_wrapper {
		width: 80%;
	}
	#footer_menu {
		display: none;
	}
}

@media screen and (max-width: 700px) {

	.wrapper {
		width: 90%;
	}
	header .wrapper .wrapper1 .about {
		margin: 0 auto;
	} 
	.responsive ul:last-child{
		margin-bottom: 40px;
	} 
	.about h1 {
		font-size: 40px;/* Приближение из-за подстановки шрифтов */
	}
	.about h2 {
		font-size: 38px;/* Приближение из-за подстановки шрифтов */
	}
	.p1 {
		font-size: 35px;/* Приближение из-за подстановки шрифтов */
	}
	.buttons {
		margin: 2vh auto 10vh auto;
	}
	.button_buy input {
		width: 120px;
	}
	.button_try input {
		margin-left: 10vw;
		width: 120px;
	}
	.easy_and_useful {
		margin: 0 auto;
		width: 90%;
	}
	.counts {
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	height: 300px;
}
	.inner_counts {
		top: 17%;
	}
	.serv_inner {
		flex-direction: column;
	}
	.serv_inner p {
		margin: 8px 0; 
	}
	.team_wrapper {
		width: 90%;
	} 
	.testimonials_container {
		grid-template-columns: 70px 1fr;
	}
	.avatars {
		width: 90%;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-column-gap: 0;
	}
	.avatars div {
		justify-self: center;
	}
	.team_text {
		width: 90%;
		height: 200px;
	}
	.video_wrapper {
		display: none;
	}
	.social {
		flex-direction: column;
	}
	.contact {
	height: 100%;
	padding-bottom: 50px;
	}
	.contact_wrapper {
		width: 90%;
	}
	.form_inputs{
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr;
		grid-column-gap: 0;
		grid-row-gap: 20px;
	}
	.form_inputs input {
		width: calc(100% - 36px);
	}
	footer {
		height: 100%;
		padding-bottom: 10vw;
	}
	.foot_about {
		margin-bottom: 5vw;
	}
}